#glowa {
    background-color: red;
    color: white;
    height: 50px;
    text-align: center;
}
#lewy {
    background-color: blue;
    color: white;
    height: 50px;
    text-align: center;
}
#prawy {
    background-color: purple;
    color: white;
    height: 50px;
    text-align: center;
}
#stopka {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
}